<link type="text/css" rel="stylesheet" href="css/sign_in_up.css"/>

<form>
  <input id="input-1" type="email" placeholder="email@address.com" required />
  <label for="input-1">
    <span class="label-text">Email</span>
    <span class="nav-dot"></span>
    <div class="signin_up-button-trigger">Sign in</div>
  </label>
  <input id="input-2" type="text" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
  <label for="input-2">
    <span class="label-text">Password</span>
    <span class="nav-dot"></span>
  </label>
  <p class="tip">Press Tab</p>
  <div class="signin_up-button">Sign in</div>
</form>
